@import './tailwind.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

html, body {
  font-family: 'Poppins', sans-serif; /* ✅ applies to all routes */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}
/* Hide scrollbar for all browsers */
.scrollbar-none {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}
.scrollbar-none::-webkit-scrollbar {
    display: none;             /* Chrome, Safari, Opera */
}

@keyframes slideLeft {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-[slideLeft_1s_linear_infinite] {
  animation: slideLeft 1s linear infinite;
}

